$root-block-name: '.mcard';

#{$root-block-name} {
  $b: &;
  $b__text: #{$b}__text;
  $b__header: #{$b}__header;

  /* 原 @include flex(null, null, column); */
  display: flex;
  flex-direction: column;

  width: 100%;
  border-radius: 30px;
  overflow: hidden;

  /* ========== Modifiers ========== */
  &--ichiban {
    #{$b__header} {
      padding: 0;

      /* 原 align-items: end; */
      align-items: flex-end;
    }
  }

  &--login,
  &--register,
  &--mainpage,
  &--product-detail-one {
    min-height: 636px;
  }

  &--memberCenter {
    min-height: 1315px;
  }

  &--login {
    /* 原 @include screen(xs) */
    @media (max-width: 576px) {
      min-height: 478px;
    }
  }

  /* ========== Elements ========== */
  &__header {
    padding: 16px 0;
    height: 74px;
    background: linear-gradient(270.06deg, #e2b64b 0.06%, #eb9838 99.98%);

    /* 原 @include flex(center); */
    display: flex;
    align-items: center;
    justify-content: center;

    #{$b__text} {
      font-size: 26px;
      font-weight: 400;
      color: #fff;
      text-shadow: -2px 0 1px #000, 0 2px 1px #000, 2px 0 1px #000,
        0 -2px 1px #000;
    }
  }

  &__content {
    flex: 1;
    background: #ffe7cc;

    /* 原 @include flex(null, null, column); */
    display: flex;
    flex-direction: column;
  }
}
