@use '../base/tokens' as tokens;

$root-block-name: '.pagination';

#{$root-block-name} {
  $p: &;
  $p__item: #{$p}__item;
  $p__btn: #{$p}__btn;

  display: flex;
  align-items: center;

  &__main {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  /* ============================
     Pagination Button
     ============================ */
  &__btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    background: tokens.$brand; // 主橘
    color: #fff;

    &:hover:not(#{$p__btn}--active):not(:disabled) {
      background: tokens.$brand-hover; // hover 橘
    }

    &:disabled {
      background: tokens.$border-light;
      color: tokens.$muted;
      cursor: not-allowed;
    }

    &--active {
      background: tokens.$brand-dark; // 深橘
      color: #fff;
    }
  }

  /* ============================
     Items (外框)
     ============================ */
  &__items {
    display: flex;
    align-items: center;
    gap: 4px;

    #{$p__item} {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;

      #{$p__btn} {
        width: 100%;
        height: 100%;
      }
    }
  }

  /* ============================
     Page Info
     ============================ */
  &__info {
    font-size: 14px;
    margin: 0 10px;
    color: tokens.$ink-800;
  }

  /* ============================
     Page Size Selector
     ============================ */
  &__page-size {
    padding: 5px;
    border: 1px solid tokens.$border-light;
    border-radius: 5px;
    background: #fff;
    color: tokens.$ink-800;
  }
}
