$root-block-name: '.section-header';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;

  &__title {
    /* @include flex(center, center); */
    display: flex;
    align-items: center;
    justify-content: center;

    #{$p__text} {
      font-size: 60px;
      font-weight: 400;
      position: relative;
      background: linear-gradient(272.26deg, #e5d36a -1.05%, #cf8046 98.1%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      &::after {
        content: attr(data-text);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        text-shadow: -2px 0 1px #000, 0 2px 1px #000, 2px 0 1px #000,
          0 -2px 1px #000;
      }

      /* @include screen(md) */
      @media (max-width: 768px) {
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
}
