$root-block-name: '.policy';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;

  padding: 48px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  #{$p__text} {
    color: #7c7c7c;
    font-size: 24px;
  }

  &__item {
    &-title {
      #{$p__text} {
        color: #eb9838;
        font-weight: 700;
        font-size: 28px;
      }
    }

    &-main {
      margin-top: 12px;
      margin-left: 24px;

      display: flex;
      flex-direction: column;

      gap: 12px;
    }
  }
}
