/* src/assets/styles/shared/_mixins.scss */
@use 'sass:map';
@use 'sass:meta';
@use './variables' as *;

/* RWD sugar */
@mixin screen($sizes...) {
  @each $value in $sizes {
    @if map.has-key($breakpoints, $value) {
      @media #{meta.inspect(map.get($breakpoints, $value))} {
        @content;
      }
    } @else {
      @warn "Unknown value `#{$value}`.";
    }
  }
}

/* 行為/互動 */
@mixin no-select($events: none) {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  user-select: none;
  outline: none;
  pointer-events: $events;
}

@mixin remove-tap-highlight() {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/* 版面/呈現 */
@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin line-clamp($lines: 3) {
  position: relative;
  box-sizing: border-box;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
}

@mixin box-shadow() {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@mixin fit-content() {
  width: fit-content;
  width: auto;
  min-width: min-content;
  max-width: max-content;
}

@mixin flex($align: unset, $justify: unset, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin w_h($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin p_m($padding: 0, $margin: 0) {
  padding: $padding;
  margin: $margin;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
